.navbar-container {
    @apply cursor-pointer md:flex justify-center items-center w-screen fixed top-0 left-0 text-white p-5;
    background-color: #221f20;
    border-bottom: 2px solid #1c548c;
}

.navbar-sub-container {
    display: flex;
    max-width: 760px;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    & > img {
        max-width: 80px;
        margin-right: 30px;
    }
}

.navbar-container-burger {
    @apply md:hidden flex justify-between items-center w-full fixed top-0 left-0 p-5;
    border-bottom: 2px solid #1c548c;
    background-color: #221f20;

    & > img {
        max-width: 80px;
        margin-right: 30px;
    }
}

.nav-item {
    margin: auto 15px;
    font-weight: 700;
    font-family: MuseoSans;
}

.side-drawer-nav-items {
    @apply flex flex-col items-center justify-start pt-5;

    & > * {
        margin: 10px;
    }
}
