.balance-informations-container {
    @apply text-white w-full;
    max-width: 296px;
}

.balance-informations-title {
    @apply mb-5 text-center md:mb-0 md:text-left;

    & > h1 {
        @apply font-black text-5xl m-0;
        color: rgba(107, 185, 160, 1);
    }
}

.balance-informations-content {
    @apply mb-5 md:mb-0;
    margin-bottom: 20px;
}

.balance-informations-item {
    & > p {
        @apply m-0 p-2 tracking-wider;
        border-radius: 10px;
        box-shadow: inset 5px 5px 10px #000, inset 0px 0px 15px #49484c;
        font-size: 10px;
        color: rgba(196, 196, 196, 1);
    }
}

#balance-amount {
    & > img {
        max-width: 16px;
    }
}
