.claim-box-container {
    @apply flex flex-col items-center p-5 text-white w-full;
    border-radius: 20px;
    max-width: 350px;
    box-shadow: 5px 5px 10px #000, -5px -5px 15px #49484c;
}
.claim-amount {
    @apply rounded flex items-center justify-center font-light text-xs relative w-full;
    min-height: 32px;
    box-shadow: inset 5px 5px 10px #000, inset 0px 0px 15px #49484c;

    & > img {
        @apply h-auto absolute;
        top: 7px;
        left: 60px;
        max-width: 20px;
    }
}
