.connect-wallet-container {
    @apply flex flex-col items-center pb-4 w-full text-white;
    border-radius: 10px;
    max-width: 400px;
    box-shadow: -5px -5px 10px #49484c, 5px 5px 10px #000;

    & > button {
        @apply border-white rounded border-solid border-2 font-bold mb-5 relative text-white;
        outline: none;
        background-color: rgba(107, 185, 160, 1);
        width: 90%;
        min-height: 45px;
        font-family: MuseoSans;
        box-shadow: -3px -3px 8px #7f7b7f;
        transition: all 0.2s ease;

        &:active {
            @apply cursor-pointer;
            box-shadow: inset 5px 5px 10px #000, inset 0px 0px 15px #49484c;
            border-color: rgba(127, 123, 127, 1);
            transform: translateY(-1px) translateX(-1px);
        }

        & > img {
            @apply h-auto absolute top-0;
            left: 12px;
        }
    }
}

#button-icon-fox {
    max-width: 35px;
    top: 1px;
    left: 10px;
}

#button-icon-shield {
    top: 5px;
    max-width: 30px;
}
