.invest-dashboard-container {
    @apply flex flex-col items-center md:flex-row md:items-start justify-around w-full;
    max-width: 760px;
}
.invest-dashboard-content-container {
    @apply flex flex-col items-start w-full;
    max-width: 350px;
}

.invest-dashboard-tab {
    @apply flex items-center justify-around w-full;
    color: rgba(107, 185, 160, 1);
}

.invest-dashboard-tab-1:hover,
.invest-dashboard-tab-2:hover {
    cursor: pointer;
}
